@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
	box-sizing: border-box;
}

body {
	background-image: url("./snow.jpg");
	background-size:cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	margin: 0;
}

h1 {
	font-weight: normal;
	font-size: 4rem;
	margin-top: -20rem;
}

.countdown-container {
	display: flex;
}

.big-text {
	font-size: 6rem;
	font-weight: bold;
	line-height: 1;
	margin: 0 2rem;
}

.countdown-el {
	text-align: center;
}

.countdown-el span {
	font-size: 1.5rem;
}
